<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title th:text="${title} ?: 'Product Detail'">Product Detail</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<section layout:fragment="content" class="container mt-4">
  <h1 th:text="'Product Detail: ' + ${product.name}"></h1>
  <div class="row">
    <div class="col-md-6">
      <img th:src="${product.images}" class="img-fluid" alt="Product Image">
    </div>
    <div class="col-md-6">
      <h2 th:text="${product.name}"></h2>
      <p><strong>Price:</strong> <span th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA')} + ' VNĐ'"></span></p>
      <p><strong>Description:</strong> <span th:text="${product.description}"></span></p>
      <p><strong>Category:</strong> <span th:text="${product.category.name}"></span></p>
      <p><strong>Quantity:</strong> <span th:text="${product.quantity}"></span></p>

      <div sec:authorize="hasAuthority('ADMIN')" class="mt-2">
        <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-success btn-sm">Edit</a>
        <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
      </div>

      <div sec:authorize="hasAuthority('USER')" class="mt-2">
        <form th:action="@{/cart/add}" method="post" sec:authorize="isAuthenticated()">
          <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
          </div>
          <input type="number" name="quantity" min="1" value="1" class="form-control d-inline-block" style="width: 70px;">
          <input type="hidden" th:value="${product.id}" name="productId"/>
          <button type="submit" class="btn btn-warning btn-sm">Add To Cart</button>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>
